/* 分割线 */
.end_line{
	width: 100%;
    height: 2px;
    background: #333;

}

@mixin bc_trans{
    -webkit-transition: border-color .1s ease;
    -moz-transition: border-color .1s ease;
    transition: border-color .1s ease;
}

@mixin bs{
	-webkit-box-shadow: 0 0 2px 2px #f8f8f8;
    -moz-box-shadow: 0 0 2px 2px #f8f8f8;
	box-shadow: 0 0 2px 2px #f8f8f8;
}

$hoverC:#d7063b;

/* 主部分 */
.good_cnt{
	width: 1190px;
	margin: 0 auto;
	
	.fixed{
		display: block;
	    min-height: 1%;

	    /* :after{
	    	content: ".";
		    display: block;
		    clear: both;
		    height: 0;
		    visibility: hidden;
	    } */
	}

	/* 面包屑 */
	.bread{
		width: 100%;
	    position: relative;
	    z-index: 4;

	    .bread_wr{
		    height: 22px;
		    padding: 9px 0;
		    position: relative;

			.wr_item:first-child{
				    padding-right: 23px;
			    }
		    .wr_item{
		    	height: 22px;
			    line-height: 22px;
			    float: left;
			    padding-right: 17px;
			    position: relative;

			    .link{
		    	    display: block;
				    font-size: 12px;
			    }

			    .arrow{
			    	background: url(http://static02.fn-mart.com/product/images/list_new/list.png?170725) -27px -63px no-repeat;
				    width: 6px;
				    height: 9px;
				    display: block;
				    position: absolute;
				    top: 7px;
				    right: 7px;
			    }
		    }

		    .z-select{
		    	border-color: #666 !important;
		    }

		    .sear_cont{
		    	    width: 148px;
				    height: 20px;
				    border: 1px solid #cfcfcf;
				    float: left;
					
					input{
						border: 0;
					    outline: 0;
					    float: left;
					}

				    .ipt{
				    	    width: 122px;
						    height: 20px;
						    line-height: 20px;
						    padding-left: 6px;
						    color: #cfcfcf;
						    font-size: 12px;
				    }

					.btn{
						    width: 20px;
						    height: 20px;
						    background: url(http://static02.fn-mart.com/product/images/list_new/list.png?170725) -22px -26px no-repeat;
						    cursor: pointer;
					}

		    }

		    .wr_rt{    	
		    	position: absolute;
		    	right: 10px;
		    	top: 12px;
			    float: right;
			    display: block;
			    font-size: 12px;

			    &:hover{
			    	    color: #d7063b;
				    text-decoration: underline;
			    }
		    }
	    }
	}

	// 商品分类
	.goods_type{
		width: 100%;

		.gt_cont{
			    border: 2px solid #e9e9e9;
			    font-family: "microsoft yahei";
			
			.gt_ct_item:first-child{

			    border-top: 0 none;
			}

			.gt_ct_item{
			    line-height: 40px;
			    border-top: 1px dotted #ddd;
			    background: #f7f7f7;
			    position: relative;
			    // z-index: 3;
			    zoom: 1;

			    .item_key{

				    width: 130px;
				    background: #F7F7F7;
				    float: left;
				    overflow: hidden;
					
					.m_s{

					    color: #666;
					    position: relative;

					    i{

						    width: 5px;
						    height: 9px;
						    overflow: hidden;
						    position: absolute;
						    top: 16px;
						    left: 45px;
						    background: url(http://static02.fn-mart.com/product/images/list_new/list.png?170725) -100px -48px no-repeat;
					    }
					}
				    p{

					    font-size: 12px;
					    color: #999;
					    padding-right: 15px;
					    width: 115px;
					    overflow: hidden;
					    height: 40px;
					    text-align: right;
				    }
			    }

			    .item_val{
		    	    margin-left: 130px;
				    padding-right: 118px;
				    overflow: hidden;
				    zoom: 1;
				    background: #fff;
					
					.v_tab{

					    height: 40px;
					    overflow: hidden;
					    white-space: nowrap;

					    li{
					    	float: left;

					    	
					    }

					    .z_select{
					    	position:relative;
					    	z-index:4;
					    	a{

							    border-color: #c7c7c7;
							    border-bottom: 0 none;
							    height: 38px;
							    position: relative;
							    z-index: 2;
					    	}		

					    	i{

							    background-position: -54px -63px;
					    	}
				    	}

					    a{

						    height: 36px;
						    line-height: 36px;
						    padding: 0 18px;
						    display: block;
						    text-align: center;
						    border: 2px solid #fff;
						    background: #fff;
					    }

					    i{

						    display: inline-block;
						    vertical-align: middle;
						    margin-left: 5px;
						    background: url(http://static02.fn-mart.com/product/images/list_new/list.png?170725) -43px -63px no-repeat;
						    width: 9px;
						    height: 5px;
					    }
					}

				    .v_lst{

					    width: 100%;
					    max-height: 40px;
					    float: left;
					    overflow: hidden;
					    zoom: 1;
					    position: relative;

					    li{
					    	float: left;

					    	
					    }

					    a{

						    position: relative;
						    padding: 0 15px 0 20px;
						    display: block;
						    overflow: hidden;
						    white-space: nowrap;
						    text-overflow: ellipsis;
						    text-align: left;
						    text-decoration: none;

						    &:hover{
						    	color: $hoverC;
						    }
					    }

					    i{

						    position: absolute;
						    background: url(http://static02.fn-mart.com/product/images/list_new/list.png?170725) -15px -48px no-repeat;
						    top: 14px;
						    left: 19px;
						    width: 13px;
						    height: 13px;
						    display: none;
					    }


				    }

				    .v_price{
											
					    width: 165px;
					    text-align: center;
					    color: #ccc;	    	

					    input{
						    margin: 0 5px;
						    border: 1px solid #ddd;
						    padding: 0;
						    position: relative;
						    top: -1px;

						    width: 38px;
						    height: 20px;
						    line-height: 20px;
						    text-align: center;
					    }

					    span{

						    display: inline-block;
						    margin-right: 10px;
						    border: 1px solid #ccc;
						    -moz-border-radius: 2px;
						    -webkit-border-radius: 2px;
						    border-radius: 2px;
						    cursor: pointer;
						    color: #6c6c6c;				    
						    width: 38px;
						    height: 20px;
						    line-height: 20px;
						    text-align: center;

						    &:hover{

							    border-color: #aaa;
							    color: #333;
						    }
					    }
				    }

				    .h80{

						    max-height: 111px;
						    padding: 6px 0 0 9px;
						    margin-bottom: 6px;
				    	li{	    		
						    border: 1px solid #ddd;
						    margin-right: -1px;
						    margin-top: -1px;
							
						    &:hover{
								.lst_bd{
									border-color: #d7063b;
								}

						    	.l_b_img{
						    		display: none;
						    	}
						    }

						    .lst_bd{

							    position: relative;
							    border: 2px solid #fff;
							    width: 111px;
							    height: 50px;

							    a{

								    overflow: hidden;
								    white-space: nowrap;
								    text-overflow: ellipsis;
								    text-align: center;
								    line-height: 50px;
							    }

							    .l_b_img{

								    position: absolute;
								    left: 0;
								    top: 0;
								    background-color: #fff;
								    width: 111px;
								    height: 50px;

								    img{
								    	width: 111px;
								    	height: 50px;
								    }
							    }
					    	}
				    	}
				    }

				    
			    }

			    .v_btns{
					    display: none;
					    float: left;
					    width: 100%;
					    text-align: center;

					    .z-disable{

						    border-color: #dedede;
						    color: #ccc;
						    background: #f8f8f8;
						    cursor: default;
					    }

					    .confirm{

						    background-color: #d7063b;
						    border-color: #d7063b;
						    color: #fff;
					    }

					    a{

						    display: inline-block;
						    width: 38px;
						    height: 20px;
						    line-height: 20px;
						    text-align: center;
						    margin-right: 10px;
						    border: 1px solid #ccc;
						    -moz-border-radius: 2px;
						    -webkit-border-radius: 2px;
						    border-radius: 2px;
						    text-decoration: none;
						    color: #6c6c6c;
						    background: #f9f9f9;
					    }
				    }

			    .hide_tb_cont{

			    	.hide{
						display: none;
			    	}
			    	.tb_panel{

					    width: 1126px;
					    padding-right: 60px;
					    position: absolute;
					    left: -2px;
					    top: 38px;
					    border: 2px solid #c7c7c7;
					    background: #fff;
					    z-index:3;

						
						.item_more{

						    width: 60px;
						    right: 0;
						}
					    li{
					    	float: left;
							
							&:hover{
								a{
									color: $hoverC;
								}
							}

					    	a{

							    position: relative;
							    padding: 0 15px 0 20px;
							    display: block;
							    overflow: hidden;
							    white-space: nowrap;
							    text-overflow: ellipsis;
							    text-align: left;
							    text-decoration: none;
					    	}

					    	i{

							    position: absolute;
							    background: url(http://static02.fn-mart.com/product/images/list_new/list.png?170725) -15px -48px no-repeat;
							    top: 14px;
							    left: 19px;
							    width: 13px;
							    height: 13px;
							    display: none;
					    	}
					    }
			    	}
			    }

			    .item_more{

				    width: 110px;
				    line-height: 18px;
				    position: absolute;
				    top: 8px;
				    right: 3px;
				    overflow: hidden;
				    zoom: 1;
					
					.check_fn{
													
					    width: 38px;
					    height: 18px;
					    line-height: 18px;
					    padding: 0 5px;
					    border: 1px solid #ddd;
					    background: #F9F9F9;
					    text-align: right;
					    margin-right: 10px;
						
						&:hover{
							
						    border-color: #aaa;
						    color: #3C3C3C;
						}
					    i{
												    	
						    right: 32px;
						    background-position: -60px -48px;
					    }
					}

					a{

					    font-size: 12px;
					    float: left;
					    color: #6C6C6C;
					    position: relative;

					    i{

						    position: absolute;
						    top: 4px;
						    width: 12px;
						    height: 10px;
						    background: url(http://static02.fn-mart.com/product/images/list_new/list.png?170725) no-repeat;
						    display: block;
					    }
					}

				    .more_fn{

					    width: 38px;
					    height: 18px;
					    text-align: left;
					    line-height: 18px;
					    padding: 0 5px;
						
						&:hover{
							color : $hoverC;
							i{
								background-position: -76px -34px;
							}
						}
					    i{

						    right: 5px;
						    background-position: -62px -34px;
					    }
				    }
			    }
			}
		}
	}
	
	// 商品
	.goods{
	    width: 100%;
	    margin-top: 10px;

	    .hot_goods{
		    width: 180px;
		    height: auto;
		    float: left;

		    .hot_cont{
		    	width: 178px;
			    height: auto;
			    margin-bottom: 10px;
			    border: 1px solid #e9e9e9;

			    .tt{
			    	height: 36px;
				    line-height: 36px;
				    padding-left: 10px;
				    background-color: #fafafa;
				    border-bottom: 1px solid #e9e9e9;
				    font-size: 14px;
				    font-weight: 700;
				    margin-bottom: 20px;
			    }

			    ul{
			    	.prod{
			    		width: 160px;
					    padding: 0 9px;
					    margin-bottom: 20px;

					    .p_img{
				    	    width: 160px;
						    height: 160px;
						    margin-bottom: 5px;
					    }

					    .p_name{
					    	width: 160px;
						    height: 40px;
						    line-height: 20px;
						    margin-bottom: 8px;
						    overflow: hidden;
						    display: block;

						    a:hover{
								color: #d7063b;
						    }
					    }

					    .p_price{
				    	    height: 18px;
						    line-height: 18px;
						    font-size: 0;
						    margin-bottom: 3px;

						    .now{
					    	    font-size: 16px;
							    font-weight: 700;
							    color: #d7063b;
							    margin-right: 10px;
						    }

						    .old{
						    	font-size: 12px;
							    color: #999;
							    text-decoration: line-through;
						    }
					    }

					    .p_shop{
				    	    width: 160px;
						    height: 18px;
						    line-height: 18px;
						    overflow: hidden;

						    a{
						    	display: block;
							    font-size: 12px;
							    color: #999;

						    }
					    }
			    	}
			    }
		    }
	    }

	    .main_goods{
	    	margin-left: 190px;
		    zoom: 1;
		    background: #fff;

		    .goods_filter{
	    	    position: relative;
			    // z-index: 2;

				.topa{
					    background: #e5e5e5 !important;
					}

			    .filter_item{
			    	height: 28px;
				    padding: 5px;
				    background: #f8f8f8;

				    .f_type{

					    height: 28px;
					    overflow: hidden;

					    li{

						    float: left;
						    height: 28px;
						    line-height: 28px;
					    }

					    a{
					    	height: 28px;
						    padding: 0 18px;
						    position: relative;
						    display: block;
						    color: #333;

						    &:hover{

							    color: #d7063b;
						    }   
					    }
					    .z_select{
					    	color: #d7063b;
							    i{
							    	background-position: -30px -48px;
							    }
							}
						
						

					    i{
					    	position: absolute;
						    top: 8px;
						    left: 0;
						    width: 13px;
						    height: 13px;
						    background: url(http://static02.fn-mart.com/product/images/list_new/list.png?170725) -15px -48px no-repeat;
					    }
				    }

					.f_sort{
						float: left;
					    margin-right: 5px;

					    ul{
					    	li{
					    		float: left;
							    width: 48px;
							    height: 26px;
							    border: 1px solid #cfcfcf;
							    line-height: 26px;
							    margin-right: -1px;
							    background: #fff;
							    font-size: 12px;
							    text-align: center;

							    &:hover{

								    position: relative;
								    border-color: #d7063b;
							    }

							    i{

								    display: inline-block;
								    background: url(http://static02.fn-mart.com/product/images/list_new/list.png?170725) -18px -63px no-repeat;
								    width: 7px;
								    height: 9px;
								    margin-left: 3px;

							    }
					    	}

					    	.z-select{
					    		background: #d7063b;
							    border-color: #d7063b;

							    a{
							    	color: #fff;
							    }
					    	}
					    }
					}

					.f_address{
						float: left;
					    position: relative;
					    z-index: 2;

					    .f_a_text{
						    height: 26px;
						    border: 1px solid #cfcfcf;
							
							p{
								float: left;
							    font-size: 12px;
							    line-height: 26px;
							}

						    .text_s{
						    	width: 56px;
							    text-align: center;
							    background: #f7f7f7;
							    color: #999;
						    }

						    .text_d{
						    	padding: 0 29px 0 9px;
							    background: #fff;
							    color: #333;
							    cursor: pointer;
							    position: relative;
							    overflow: hidden;

							    i{
							    	position: absolute;
								    right: 1px;
								    top: 19px;
								    width: 6px;
								    height: 6px;
								    background: url(http://static02.fn-mart.com/product/images/list_new/list.png?170725) -35px -63px no-repeat;
							    }
						    }
					    }

					    &:hover{
					    	.f_a_cont{
					    		display: block;
					    	}
					    }

					    .f_a_cont{
					    	width: 418px;
						    border: 1px solid #cfcfcf;
						    background: #fff;
						    position: absolute;
						    top: 27px;
						    left: 0;
						    display: none;

						    .close{		    	
							    width: 10px;
							    height: 10px;
							    overflow: hidden;
							    position: absolute;
							    top: 11px;
							    right: 10px;
							    background: url(http://static02.fn-mart.com/product/images/list_new/list.png?170725) -88px -48px no-repeat;
							    cursor: pointer;
						    }

						    .a_cont_tab{
						    	width: 418px;
							    height: 33px;
							    line-height: 33px;
							    border-bottom: 1px solid #cfcfcf;
								
								.hide{
									display: none;
								}

							    .z-select{
							    	height: 34px;
								    background: #fff;
							    }

							    a{
						    	    float: left;
								    display: block;
								    height: 33px;
								    padding: 0 10px;
								    background: #f7f7f7;
								    border-right: 1px solid #cfcfcf;
							    }
						    }

						    .a_cont_ls{
					    	    width: 398px;
							    padding: 15px 10px;
							    
							    position: relative;

							    .ls_panel{
							    	min-height: 130px;
								    overflow: hidden;
								    zoom: 1;
								    position: relative;
								    
									.loading_img{
										width: 75px;
										height: 75px;
										position: absolute;
										left: 50%;
										top: 50%;
										transform: translate(-50%,-50%);
									}

								    li{
							    	    height: 20px;
									    float: left;
									    margin-right: 15px;
									    margin-bottom: 11px;

									    a{
									    	display: block;
										    padding: 0 7px;
										    line-height: 20px;
										    background: #fff;
										    font-size: 12px;

										    &:hover{
										    	color:#d7063b;
										    }
									    }
								    }
							    }

							    .hide{
							    	display: none;
							    }
						    }
					    }
					}

					.f_total{
						
					    float: right;
					    height: 28px;
					    line-height: 28px;
					    font-size: 12px;

					    .text_total{
						 	float: left;
						    margin-right: 10px;
						    color: #333;
					    }

					    .page_chg{
				    	    float: left;
						    padding: 4px 0;
						    height: 20px;
						    line-height: 28px;
						    font-size: 12px;

						    .dir{
					    	    width: 19px;
							    height: 18px;
							    border: 1px solid #cfcfcf;
							    display: block;
							    background: #fff;
							    font-size: 14px;
							    font-weight: 700;
							    color: #666;
							    line-height: 20px;
							    float: left;
							    text-align: center;
							    font-family: SimSun;
						    }

						    .z_disable{
						    	background: #f9f9f9;
							    color: #999;
							    cursor: default;
						    }

						    .p_txt{
						    	color: #333;
							    line-height: 20px;
							    margin: 0 10px;
							    float: left;

							    .cur_p{
							    	    color: #d7063b;
							    }
						    }
					    }
					}
			    }
		    }

		    .goods_detail{
		    	height: auto;
			    position: relative;
			    margin-bottom: 20px;
			    // z-index: 1;
			    overflow: hidden;
			    min-height: 800px;

			    .g_lst{
			    	padding-top: 6px;
				    height: auto;
				
				    .prod{
			    	    width: 230px;
					    padding: 0 8px 6px;
					    float: left;
					    position: relative;
					    background: #fff;
					    border: 1px solid #fff;
					    margin-bottom: 20px;
					    // z-index: 1;
					    @include bc_trans;

					    &:hover{
					    	border-color: #e5e5e5;
						    @include bs;
					    }

					    .p_tab{
					    	height: 24px;
						    line-height: 24px;
					    }

					    .p_cont{

						    width: 230px;

						    .p_panel{
						    	.p_img{
						    		width: 230px;
								    height: 230px;
								    position: relative;

								    a{
								    	display: block;
								    }
						    	}

						    	.p_price{
						    		width: 230px;
								    height: 20px;
								    line-height: 18px;
								    font-size: 0;
								    margin-top: 14px;
								    overflow: hidden;
								    visibility: hidden;
									
									span{
										display: inline-block;
									    height: 18px;

									    i{
									    	font-style: normal;
									    }
									}

								    .now{
								    	font-size: 20px;
									    color: #d7063b;
									    margin-right: 10px;
								    }

								    .old{
							    	    font-size: 12px;
									    color: #999;
									    text-decoration: line-through;
								    }
						    	}

						    	.p_name{
					    		    width: 230px;
								    height: 20px;
								    line-height: 20px;
								    margin-top: 4px;

								    a{
							    	    display: block;
									    width: 230px;
									    height: 20px;
									    overflow: hidden;
									    text-overflow: ellipsis;
									    white-space: nowrap;
									    font-size: 12px;
										
										&:hover{
											color: #d7063b;
										}
									    .z_red{
									    	color: #d7063b;
									    }
								    }
						    	}

						    	.p_txt{
						    		width: 230px;
								    height: 22px;
								    line-height: 22px;
								    visibility: hidden;

								    a{
								    	display: block;
									    width: 230px;
									    height: 22px;
									    overflow: hidden;
									    text-overflow: ellipsis;
									    white-space: nowrap;
									    color: #ff8b26;
									    font-size: 12px;
									    position: relative;
								    }
						    	}

						    	.p_act{
						    		height: 30px;
								    margin-top: 5px;
								    position: relative;

								    .p_num{
								    	float: left;
									    margin-right: 10px;

									    .num{
								    	    float: left;
										    width: 28px;
										    height: 28px;
										    line-height: 28px;
										    text-align: center;
										    border: 1px solid #cfcfcf;
										    color: #999;
										    font-size: 12px;
									    }

									    .act{
								    	    float: left;
										    margin-left: 4px;
										    width: 18px;
										    height: 30px;

										    .add{
										    	
											    width: 18px;
											    height: 14px;
											    display: block;
											    overflow: hidden;
											    background: url(http://static02.fn-mart.com/product/images/list_new/list.png?170725) no-repeat;
											    margin-bottom: 2px;
											    background-position: -68px -18px;
										    }

										    .minus{
									    	    width: 18px;
											    height: 14px;
											    display: block;
											    overflow: hidden;
											    background: url(http://static02.fn-mart.com/product/images/list_new/list.png?170725) no-repeat;
										    	background-position: -20px -74px;
										    }


										    .z_disable{
										    	background-position: -48px -18px;
										    }
									    }
								    }

								    .p_btn{
								    	float: left;
									    width: 92px;
									    height: 30px;

									    a{
									    	width: 90px;
										    height: 28px;
										    display: block;
										    text-align: center;
										    line-height: 28px;
										    font-size: 12px;
										    border: 1px solid #ddd;
									    }

									    .z_cart{
									    	background: #fff0f2;
										    color: #d7063b;

										    &:hover{
										    	background: #d7063b;
											    border-color: #d7063b;
											    color: #fff;
										    }
									    }
								    }
						    	}

						    	.p_commit{
						    		width: 230px;
								    margin-top: 5px;
								    font-size: 12px;
								    height: 20px;
								    line-height: 20px;
								    overflow: hidden;
									
									p{
										float: left;
									    color: #999;

									    a{
									    	color: #06c;
										    padding: 0 4px;
									    }
									}
								    .ratio{

								    }
						    	}

						    	.p_shop{
						    		width: 160px;
								    margin-top: 1px;
								    height: 20px;
								    line-height: 20px;
								    overflow: hidden;

								    a{

									    display: block;
									    font-size: 12px;
									    color: #999;
								    }
						    	}
						    }
					    }
				    }
			    }
		    }


		    // 换页部分
		    .chg_p{
	    	    margin-top: 40px;
			    height: 36px;

			    .pg_cont{
		    	    float: right;

		    	    .pg_num{
	    	    	    float: left;

						a,span{
							float: left;
						    width: 34px;
						    height: 34px;
						    line-height: 34px;
						    margin-right: 5px;
						    font-size: 14px;
						    text-align: center;
						    font-family: "microsoft yahei";
							border: 1px solid #cfcfcf;
						    background: #f9f9f9;

						    i{
						    	font-style: normal;
							    font-size: 16px;
							    font-family: SimSun;
							    padding: 0 7px;
						    }
						}

						.current{
	    	    	    	background: #d7063b;
						    border-color: #d7063b;
						    color: #fff;
						    cursor: default;
						   
	    	    	    } 

						.prev,.next{
							width: 82px;
						    line-height: 32px;
						    border: 1px solid #cfcfcf;
						    background: #f9f9f9;
						    color: #333 !important;
						}

	    	    	    a{
	    	    	    	
	    	    	    }

	    	    	    .z_disable{
    	    	    	    border-color: #ddd;
						    background: #fff;
						    color: #dadada !important;
						    cursor: default;


	    	    	    }

	    	    	    
		    	    }

		    	    .pg_act{
		    	    	float: left;
					    margin-left: 23px;
					    line-height: 34px;
					    font-size: 14px;
					    color: #333;

					    span{
					    	float: left;
					    }

					    .ipt{
							float: left;
						    width: 42px;
						    height: 28px;
						    line-height: 28px;
						    margin: 0 5px;
						    padding: 3px;
					        border: 1px solid #cfcfcf;
						    text-align: center;
						    font-size: 100%;
						    outline: 0;
					    }

					    .btn{
							border: 1px solid #cfcfcf;
						    float: left;
						    text-align: center;
						    width: 54px;
						    height: 34px;
						    margin-left: 16px;
						    background: #f9f9f9;
					    }
		    	    }
			    }
		    }


	    }
	}

	// 猜你喜欢
	.m_like{

	    margin-top: 60px;

	    .like_tt{
	    	height: 14px;
		    padding: 11px 0;
		    border: 1px solid #e9e9e9;
		    background: #fafafa;
		    line-height: 14px;

		    .tt{

			    width: 50%;
			    border-left: 3px solid #d7063b;
			    float: left;
			    font-size: 14px;
			    font-weight: 700;
			    color: #333;
			    margin-left: -1px;
			    padding-left: 8px;
		    }

		    .change{

			    display: block;
			    width: 46px;
			    height: 14px;
			    padding-left: 20px;
			    float: right;
			    font-size: 12px;
			    color: #999;
			    position: relative;

			    &:hover{

				    color: #d7063b;

				    .icon{
				    	    background-position: 0 -48px;
				    }
			    }

			    .icon{

				    width: 13px;
				    height: 13px;
				    overflow: hidden;
				    position: absolute;
				    top: 1px;
				    left: 0;
				    background: url(http://static02.fn-mart.com/product/images/list_new/list.png?170725) -88px -18px no-repeat;
			    }
		    }
	    }

	    .like_cont{

		    height: 254px;
		    padding: 30px 0 0;
		    border: 1px solid #e9e9e9;
		    border-top: 0 none;
		    overflow: hidden;

		    ul{
		    	.prod{

				    float: left;
				    width: 160px;
				    height: 254px;
				    margin: 0 19px;

				    .p_img{

					    width: 160px;
					    height: 160px;
					    margin-bottom: 5px;

					    a{

						    display: block;
						    width: 160px;
						    height: 160px;
					    }

					    img{

						    display: block;
						    width: 160px;
						    height: 160px;
					    }
				    }

				    .p_name{

					    width: 160px;
					    height: 38px;
					    line-height: 19px;
					    margin-bottom: 8px;
					    overflow: hidden;
					    display: block;
					    text-align: center;

					    a{

						    width: 160px;
						    height: 38px;
						    display: block;
						    font-size: 12px;

						    &:hover{
						    	color: #d7063b;
						    }
					    }
				    }

				    .p_price{

					    height: 18px;
					    line-height: 18px;
					    font-size: 0;
					    margin-bottom: 3px;
					    text-align: center;

					    .now{

						    font-family: "Microsoft YaHei";
						    font-size: 14px;
						    font-weight: 700;
						    color: #d7063b;
						    margin-right: 10px;
						    text-align: center;
					    }

					    .old{

						    font-family: "Microsoft YaHei";
						    font-size: 12px;
						    color: #bbb;
						    text-decoration: line-through;
					    }
				    }
		    	}
		    }
	    }
	}
}