.under:hover{
	text-decoration: underline !important;
}

.bottom_bottom{
		text-align: center;
	    font-size: 12px;
	    color: #666;
	    background: #f5f5f5;
	}

		 .bottom_bottom .bottom_nav{
			padding: 30px 0 20px;
		    width: 1190px;
		    background: #f5f5f5;
		    text-align: center;
		    margin: 0 auto;
		}

			 .bottom_bottom .bottom_nav a{
				/* cursor: default; */
			    padding-right: 15px;
			    margin-left: 10px;
			    color: #666;
			}

		 .bottom_bottom .bottom_link{
			text-align: center;
		    background: #f5f5f5;
		    width: 1190px;
		    margin: 0 auto;
		}

			 .bottom_bottom .bottom_link{
				line-height: 18px;
			}

			 .bottom_bottom .bottom_link a{
				color: #666;
			}


		 .bottom_bottom .bottom_box{
			height: 40px;
		    padding: 30px 0;
		    text-align: center;
		    background: #f5f5f5;
		    width: 1190px;
		    margin: 0 auto;
		}

			 .bottom_bottom .bottom_box a{
				margin-right: 10px;
			    height: 40px;
			    display: inline-block;
			}