.login_header{
	width: 1060px;
    margin: 0 auto;
	overflow: auto;
    display: block;
    
    .logo{
	    margin: 10px 0;
	    width: 300px;
	    height: 60px;
	    background: url(https://static02.fn-mart.com/images/member/fn_index_logo.png?170726) no-repeat;
	    display: block;
    }
}